body {
    color: #3C2E3D;
    background-image: url("/static/images/body.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#hat {
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: Georgia;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#content {
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: Helvetica;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: start;
}

#footer{
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: Georgia;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 20px;
}

q{
    font-style: italic;
}

a {
    display: inline-block;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
    color: #3C2E3D;
}
a:hover {
    transform: scale(1.2);
    color: #b98078;
}

button{
    font-family: Georgia;
    border: 2px solid rgba(255,255,255,0);
    background-color: rgba(255,255,255,0);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
button:hover{}