{% extends "base.html" %}

{% block content %}
    <div id="actors">
    <table style="width:100%">
        <tr>
            <th><a href="/actors/name">Actor name</a></th>
            <th><a href="/actors/genre">Best Genre</a></th>
            <th><a href="/actors/voice">Voice Range</a></th>
        </tr>
        {% for actor in actors %}
            <tr>
                <td><a href={{ actor.page_id }}>{{ actor.name }}</a></td>
                <td>{{ actor.genre }}</td>
                <td>{{ actor.voice }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}