<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - Red Theatre</title>
      {% else %}
      <title>Red Theatre</title>
      {% endif %}
    </head>
    <body>
        <div id="hat">
                <h1>Red Theatre</h1>
                <button><a href="/index">Home</a></button>
                <button><a href="/login">Sign in</a></button>
                <button><a href="/tickets">Tickets</a></button>
                <button><a href="/actors">Actors</a></button>
        </div>
        <hr>
        <div id ="content">
        {% block content %}{% endblock %}
        </div>
        <hr>
        <div id="footer">
            <p><q>All the world's a stage.</q> <br>
            ― William Shakespeare, As You Like It</p>
        </div>
    </body>
</html>