{% extends "base.html" %}

{% block content %}
<div id="actor_page">
    <table style="width:100%">
            <tr>
                <td><img src={{ actor.photo_id }} width=200></td>
                <td><div id="info">
                    <p><b>Name:</b> {{ actor.name }}</p>
                    <p><b>Age:</b> {{ actor.age }}</p>
                    <p><b>Sex:</b> {{ actor.sex }}</p>
                    <p><b>Joined us in {{ actor.hire }}</b></p>
                    <p><b>Know me better:</b> {{ actor.about }}</p>
                </div></td>
            </tr>
    </table>
            <hr>
    <h3>Awards:</h3>
    <table style="width:80%">
            <div id="awards">
            <tr>
                <th>Name</th>
                <th>Year of rewarding</th>
            </tr>
        {% for award in awards %}
            <tr>
                <td>{{ award.award }}</td>
                <td>{{ award.date.year }}</td>
            </tr>
        {% endfor %}
            </div>
    </table>
    </div>
{% endblock %}